{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}
    <div class="page-title-section">
        <div class="container">
            <div class="pull-left page-title">
                <a href="{% url 'realestate:reset' %}">
                <h2>{% blocktrans %} REQUEST_RESET_PASSWORD_TITLE {% endblocktrans %}</h2>
                </a>
            </div>
            <div class="pull-right breadcrumb">
                <a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:reset' %}">{% blocktrans %} REQUEST_RESET_PASSWORD_TITLE {% endblocktrans %}</a>
            </div>
        </div>
    </div>
</div> <!--- end slider section-->
    <div class="content-section">
        <div class="container">
            <div class="col-md-8 col-md-push-2 contact-info">
                <div class="inner-wrapper">
                    <h4 class="box-title">{% blocktrans %} REQUEST_RESET_PASSWORD_TITLE {% endblocktrans %}</h4>
                    <p class='first-paragraph'>
                        <form class="contact-form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class='yellow-btn'>
                        </form>
                    </p>
                    <div class="info-wrapper">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "realestate/footer.html" %}
