{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
<div class="container">
	<form class="form" action="{{ contact }}" method="post">{% csrf_token %}
		  {% for field in form %}
		  <div class="form-group"> {{field.label_tag}} {{field}}  </div>
		  {% endfor %}
	  <input type="submit" value="Submit" />
	</form>
</div>
<div class="container">
{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }} </li>
	    {% endfor %}
	</ul>
{% endif %}
</div>

<div id="footerfix"class="row">
{% include "realestate/footer.html" %}
</div>