{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
<div class="container">
{% if messages %}
	<div class="messages">
	    {% for message in messages %}
	    <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }} </span>
	    {% endfor %}
	</div>
	<div>
{% endif %}
</div>

<div class="container">
	</br>
	<form class="form" action="{{ contact }}" method="post">{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="input-group">
	    {{ form.subject.errors }}
	    <label for="{{ form.subject.id_for_label }}">Email onderwerp</label>
	    {{ form.subject }}
	</div>
		<div class="input-group">
	    {{ form.from_email.errors }}
	    <label for="{{ form.from_email.id_for_label }}">Email adres</label>
	    {{ form.from_email }}
	</div>
	<div class="input-group">
	    {{ form.message.errors }}
	    <label for="{{ form.message.id_for_label }}">Bericht</label>
	    {{ form.message }}
	</div>	
		  <input class="btn btn-primary" type="submit" value="Submit" />
	</form>
</div>



{% include "realestate/footer.html" %}
