{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}

	<div class="page-title-section">
		<div class="container">
			<div class="pull-left page-title">
				<a href="{% url 'realestate:contact' %}">
				<h2>{%blocktrans %}CONTACT_BUTTON{% endblocktrans%}</h2>
				</a>
			</div>
			<div class="pull-right breadcrumb">
				<a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:contact' %}">{%blocktrans %}CONTACT_US_BUTTON{% endblocktrans%}</a>
			</div>
		</div>
	</div>
</div> <!--- end slider section-->
<div class="content-section">
	<div class="container">
		<div class="col-md-6 contact-info" id="contact-left-column">
			<div class="inner-wrapper">
				<h4 class="box-title">{%blocktrans %}CONTACT_TITLE{% endblocktrans%}</h4>
				<p class='first-paragraph'>
					{%blocktrans %}CONTACT_TEXT1{% endblocktrans%}
				</p>
				<p>
					<!-- {%blocktrans %}CONTACT_TEXT2{% endblocktrans%} -->
				</p>
				<div class="info-wrapper">
					<span><i class="fa fa-home"></i>Mussenhoevelaan 101, 2530 Boechout</span><br>
					<span><i class="fa fa-phone"></i> +32 (0)483 71 37 10</span>
					<span><i class="fa fa-envelope"></i>info@viasofie.be</span>
				</div>
				<div class="clearfix">
				</div>
			</div>
		</div>
		<div class="col-md-6 contact-form-wrapper" id="contact-right-column">
			<div class="inner-wrapper">
				<h4 class="box-title">{%blocktrans %}CONTACT_TOUCH{% endblocktrans%}</h4>
					{% if messages %}
						<div style="padding-top: 15px; padding-bottom: 25px;"class="messages">
						    {% for message in messages %}
						    <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }} </span>
						    {% endfor %}
						</div>
					{% endif %}
						<form class='contact-form' action="{{ contact }}" method="POST">{% csrf_token %}
							{{ form.non_field_errors }}
							<div class="contact-form-left">
								{{ form.name.errors }}
								<span><i class='fa fa-user'></i></span><input type="text" name='name' placeholder='{%blocktrans %}CONTACT_FORM_NAME{% endblocktrans%}' id='name'>
								{{ form.from_email.errors }}
								<span><i class='fa fa-envelope-o'></i></span><input type="text" name='email' placeholder='{%blocktrans %}CONTACT_FORM_EMAIL{% endblocktrans%}' id='from_email'>
								{{ form.subject.errors }}
								<span><i class='fa fa-comment'></i></span><input type="text" name='subject' placeholder="{%blocktrans %}CONTACT_FORM_SUBJECT{% endblocktrans%}" id='subject'>
							</div>
							<div class="contact-form-right">
								{{ form.message.errors }}
								<textarea id="message" name='message' placeholder='{%blocktrans %}CONTACT_FORM_MESSAGE{% endblocktrans%}'></textarea>
								<div id="captchawrapper">
									<div class="g-recaptcha" data-sitekey="6Le1eSATAAAAABTPOLSoBvZB1K9iYiMdzu_XI6Aw"></div>
								</div>
							</div>
							<input id="contactsubmit" type="submit" value='send message' id='submit-btn'>
						</form>
					<div class="clearfix">
					</div>
			</div>
		</div>
	</div>
</div>

{% include "realestate/footer.html" %}
