{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load thumbnail %}
<h1>{{ property.title_text }}</h1>

Beschrijving : {{ property.description_text }}</br>
Adres: {{ property.adress_text }}</br>
Mailbox: {{ property.mailbox }}</br>
Slaapkamers: {{ property.bedrooms }}</br>
Badkamers: {{ property.bathrooms }}</br>
Toiletten: {{ property.toilets }}</br>
Tuinen: {{ property.gardens }}</br>
Terassen: {{ property.terraces }}</br>
Verkoopprijs: {{ property.sellingprice }}</br>
Bouwdatum: {{ property.constructiondate }}</br>

{% for propertyCharacteristic in property.propertykey.all %}
{% endfor %}
<div class="popup-gallery">
    {% for propertyimage in property.propertykey.all %}
        <a href="{{ propertyimage.picture.url }}"><img src="{% thumbnail propertyimage.picture  150x150 crop %}" /> </a>
    {% endfor %}
</div>
<hr>
<a href="{% url 'realestate:index'%}">Terug naar overzicht</a>



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% include "realestate/footer.html" %}
<script type="text/javascript" src="{% static "realestate/js/propertypicture_detail.js" %}"></script>
