{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load thumbnail %}
{% load i18n %}
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/advancedsearch.js"></script>
<body id='top' class="property-details-page">
<!-- <link rel="stylesheet" type="text/css" href="{% static "realestate/css/googlemaps.css" %}"/> -->
<div class="page-title-section">
    <div class="container">
        <div class="pull-left page-title">
            <a href="{% url 'realestate:detail' pk=property.id %}">
            <h2>{%blocktrans %}EIGENDOM_REFERENTIE{% endblocktrans%} {{property.id}}</h2>
            </a>
        </div>
        <div class="pull-right breadcrumb">
            <a href="{% url 'realestate:index' %}">home</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:detail' pk=property.id %}">{%blocktrans %}EIGENDOM_REFERENTIE{% endblocktrans%} {{property.id}}</a>
        </div>
    </div>
</div>
{% include "realestate/reference_search.html" %}
{% include "realestate/search_bar.html" %}
<!-- content-Section -->
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 page-content">
                <div class="inner-wrapper">
                    <div class="property-images-slider">
                        <div id="details-slider" class="flexslider">
                            <a href="#" class='fa fa-home property-type-icon'></a>
                            <span id="sellingprice" class="yellow-btn">€ {{property.sellingprice}}</span>
                            <a href="#" class='status'>
                                {% if property.listing_type == 'Kopen' %}
                                {%blocktrans %}PROPERTY_SALE{% endblocktrans%}
                                {% else %}
                                {%blocktrans %}PROPERTY_RENT{% endblocktrans%}
                                {% endif %}
                            </a>
                            <ul class="slides">
                            {% for propertyimage in property.propertykey.all %}
                                <li>
                                <div class="image-wrapper">
                                    <img src="{% static propertyimage.picture.url %}" alt="gallery" style="height:480px;width:770;">
                                </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div id="details-carousel" class="flexslider">
                            <ul class="slides">
                                {% for propertyimage in property.propertykey.all %}
                                <li>
                                <img src="{% thumbnail propertyimage.picture  '108x66' crop='center' %}" alt="gallery">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="property-desc">
                        <h3>{{ property.title_text }}</h3>
                        <h2>Referentienummer : {{ property.id }}</h2>
                        <h2>{{ property.street_text }} {{ property.house_number_text}}, {{ property.postal_code_text }} {{ property.city_text }}, {{ property.country_text }}</h2>
                        <ul class="slide-item-features item-features">
                            <li id="property_type"><span class="fa fa-home "></span>
                            {% for propertyType in propertytype%}
                                {{propertyType.propertyType_id.name}}
                            {% endfor %}
                            </li>
                            <li id="surface_area"><span class="fa fa-arrows-alt"></span>{{property.surface_area_text}} m²</li>
                            <li><span class="fa fa-male"></span>{{property.bathrooms_text}} {%blocktrans %}BATHROOMS{% endblocktrans%}</li>
                            <li><span class="fa fa-inbox"></span>{{property.bedrooms_text}} {%blocktrans %}BEDROOMS{% endblocktrans%}</li>
                        </ul>
                        <p class="first-paragraph">
                            {{property.description_text}}
                        </p>
                        <div class="additional-features">
                            <h3>{%blocktrans %}ADDITIONAL_FEATURES{% endblocktrans%}</h3>
                            <ul class="features">
                                {% for characteristic in characteristics_property %}
                                {% if "nee" in characteristic.value  or  "Nee" in characteristic.value  or "no" in characteristic.value  or "No" in characteristic.value or characteristic.value  == "0" or "False" in characteristic.value %}
                                <li class="single-feature"><a href="#"><i id="fa-red" class="fa fa-times-circle"></i>
                                {% else %}
                                <li class="single-feature"><a href="#"><i class="fa fa-check-circle"></i>
                                {% endif %}
                                {{characteristic.characteristic_id.name}}  :  {{characteristic.value}}</a></li>  
                                <!-- <div class="row"> </div> -->

                                {% endfor %}
                            </ul>
                        </div>
                        <div class="property-location">
                            <h3>{%blocktrans %}PROPERTY_LOCATION{% endblocktrans%}</h3>
                            <div id="property-location-map">
                                 <iframe seamless="seamless" style="border: 0; width:100%; height:100%;" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKMBzwOnxTR6afh36_CuNthTypmBQwOX0&amp;q={{ property.street_text }},{{ property.house_number_text }},{{ property.city_text }},{{ property.postal_code_text }},{{ property.country_text}}"> </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 blog-sidebar">
                <div class="sidebar-widget text-widget">
                    <h4 class="widget-title">{%blocktrans %}INTERESTED{% endblocktrans%}</h4>
                        <p class='first-paragraph'>
                            {%blocktrans %}INTERESTED_TEXT{% endblocktrans%}
                        </p>
                    <a href="{% url 'realestate:contact' %}" class="yellow-btn">{%blocktrans %}CONTACT_REALTOR{% endblocktrans%}</a>
                </div>
            </div>
            <div class="col-md-3 blog-sidebar">
                <div class="sidebar-widget text-widget">
                    <h4 class="widget-title">{%blocktrans %}TELL_FRIEND_TITLE{% endblocktrans%}</h4>
                        <p class='first-paragraph'>
                            {%blocktrans %}TELL_FRIEND_TEXT{% endblocktrans%}
                        </p>
                    <a href="{% url 'realestate:share' %}" class="yellow-btn">{%blocktrans %}SHARE_LINK{% endblocktrans%}</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% include "realestate/footer.html" %}
