{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load thumbnail %}
<link rel="stylesheet" type="text/css" href="{% static "realestate/css/googlemaps.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "realestate/css/detail.css" %}"/>
<div class="row">
<div class = "col-md-3">
linkerkolom div
</div>

<div class = "col-md-6">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><span class = "glyphicon glyphicon-home
    "> </span> Details</a></li>
    <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab"><span class = "glyphicon glyphicon-globe
    "> </span> Location</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="details">
            <h1>{{ property.title_text }}</h1><br />
            <h2>  Overzicht </h2>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <th scope="row">Adres</th>
                        <td>{{ property.street_text}} {{property.house_number_text}} {{property.postal_code_text}} {{property.city_text}} {{property.country_text}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vraagprijs</th>
                        <td>{{ property.sellingprice }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bouwdatum</th>
                        <td>{{ property.constructiondate }}</td>
                    </tr>    
                    <tr>
                        <th scope="row">QR Code</th>
                        <td><img src="{{ event.qrcode.url }}" alt="{{ property.title_text }} QR Code" /></td>
                    </tr>    

                    {% for characteristic_property in characteristics_property %}
                    <!-- to test for property id-->
                    <!-- </p>characteristic_property id = {{characteristic_property.property_id}} -->
                    <tr>
                        <th scope="row">{{characteristic_property.characteristic_id.name}}</th>
                        <td>{{characteristic_property.value}}</td>
                    </tr>  
                    {% endfor %}              
                </tbody>
            </table>

            <h2> Omschrijving </h2>
            {{ property.description_text }}
            

            <div class="popup-gallery">
                {% for propertyimage in property.propertykey.all %}
                    <a href="{{ propertyimage.picture.url }}"><img src="{% thumbnail propertyimage.picture  150x150 crop %}"> </a>
                {% endfor %}
            </div>
    </div>
      <div role="tabpanel" class="tab-pane" id="location">
        <div class="google-maps">
             <iframe seamless="seamless" style="border: 0" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKMBzwOnxTR6afh36_CuNthTypmBQwOX0&amp;q={{ property.street_text }},{{ property.house_number_text }},{{ property.city_text }},{{ property.postal_code_text }},{{ property.country_text}}"> </iframe>
        </div>
</div>  
</div>
    </div>
<div class = "col-md-3">
rechterkolom div
</div>
</div>
<!-- <div class = "container">
<a href="{% url 'realestate:index'%}">Terug</a>
</div> -->


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% include "realestate/footer.html" %}
<script type="text/javascript" src="{% static "realestate/js/propertypicture_detail.js" %}"></script>
