{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}
<div class="col-md-3">
linkerkolom div
</div>
<div class="col-md-6">
    <h2>{%blocktrans %} DISCLAIMER_TITLE {% endblocktrans%}</h2>
    <div>
        {% blocktrans %}DISCLAIMER_TEXT{% endblocktrans %}
    </div>
    </br>

    <h2>{%blocktrans %} PRIVACYPOLICY_TITLE{% endblocktrans%}</h2>
    <div>
        {% blocktrans %}PRIVCAYPOLICY_TEXT{% endblocktrans %}
    </div>
</div>
<div class="col-md-3">
rechterkolom div
</div>

{% include "realestate/footer.html" %}
