
<!-- Javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/select.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/script.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/cookielaw.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/header.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/search.js"></script>
{% load staticfiles %}
{% load cookielaw_tags %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static "realestate/css/footer.css" %}"/>

{% cookielaw_banner %}
<div class="complete-footer">
	<footer>
	<div class="container" id="footer1">
		<div class="col-md-4 footer-about">
			<h3 class='footer-title'>{%blocktrans %}FOOTER_CONTACTINFO{% endblocktrans%}</h3>
			<h4><b> Immo Via Sofie </b></h4>
			<div class="address">
				<p>
					Mussenhoevelaan 101<br>2530 Boechout
				</p>
			</div>
			<div class="business-number">

			</div>
			<div class="opening-hours">
				<p>
					{%blocktrans %}OPENING_HOURS{% endblocktrans%}
					<!--Openingsuren: contacteer mij voor een afspraak-->
				</p>
			</div>
			<div class="footer-contact-info">
				<p class="website-number">
					<i class="fa fa-phone"></i> +32 (0)483 71 37 10
				</p>
				<p class="website-email">
					<i class="fa fa-envelope"></i> info@viasofie.be
				</p>
			</div>
		</div>
		<div class="col-md-4 footer-about">
			<a class="logo" href="#"><img src="{% static "realestate/img/sleutel.png" %}" alt="logo"></a>
			<div class="row">
				<p>
					{%blocktrans %}RECOGNIZED_TEXT{% endblocktrans%}
				</p>
				<p>
					{%blocktrans %}BUSINESS_NUMBER{% endblocktrans%}
					<!--Ondernemingsnummer: 0541.508.141-->
				</p>
			</div>
			<div class="row">
				<p>
					{%blocktrans %}BIV_TEXT{% endblocktrans%}
				</p>
			</div>
			<div class="footer-logo" id="logo">
				<p>
					<img src="{% static "realestate/img/BIV-logo.png" %}"> Sofie Andriesen BIV 509141
				</p>
			</div>
		</div>
		<div class="col-md-4 footer-newsletter">
			<h3 class='footer-title'>{%blocktrans %}FOOTER_TITLE2{% endblocktrans%}</h3>
			<p>
				 {%blocktrans %}FOOTER_TEXT2{% endblocktrans%}
			</p>
			<form class='footer-search' action="{% url 'realestate:newsletter_subscribe' %}" method="POST">{% csrf_token %}
				<input type="text" name="email" placeholder="e-mail">
    		<input type="submit" value="Meld aan">
			</form>
			<h3 id= "footer-ebook-request" class='footer-title'>{%blocktrans %} Vraag een E-book aan{% endblocktrans%}</h3>
			<p>
				 <a href="{% url 'realestate:ebook' %}" class="yellow-button"> {%blocktrans %}Vraag hier uw gratis ebook aan{% endblocktrans%}</a>
			</p>
			<!-- <form class='footer-search' action='ebook'>
				<input type="text" placeholder='e-mail'>
				<input type="submit">
			</form> -->

		</div>
	</div>
	</footer>
	<div class="bottom-strip">
		<div class="container">
			<div class="col-md-4">
				<p class='pull-left'>
					 &copy; {% now "Y" %} Via Sofie, All Rights Reserved
				</p>
			</div>
			<div class="col-md-4 bottom-strip-middle">
				<a href="#top" class='fa fa-arrow-circle-up' id='backtop-btn'></a>
			</div>
			<div class="col-md-4">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div> <!--- entire-content-wrapper-->
</body>

</html>
