
<!-- Javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/select.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/script.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/cookielaw.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/header.js"></script>
{% load staticfiles %}
{% load cookielaw_tags %}
{% load i18n %}

{% cookielaw_banner %}
<div class="complete-footer">
	<footer>
	<div class="container">
		<div class="col-md-4 footer-contact-info">
			<h3 class='footer-title'>{%blocktrans %}FOOTER_CONTACTINFO{% endblocktrans%}</h3>
			<p class="website-number">
				<i class="fa fa-phone"></i> 03 ??? ??? ???
			</p>
			<p class="website-email">
				<i class="fa fa-envelope"></i> info@viasofie.be
			</p>
		</div>
		<div class="col-md-4 footer-about">
			<a class="logo" href="#"><img src="{% static "realestate/img/sleutel.png" %}" alt="logo"></a>
			<p>
				 {%blocktrans %}FOOTER_TEXT{% endblocktrans%}
			</p>
		</div>
		<div class="col-md-4 footer-newsletter">
			<h3 class='footer-title'>{%blocktrans %}FOOTER_TITLE2{% endblocktrans%}</h3>
			<p>
				 {%blocktrans %}FOOTER_TEXT2{% endblocktrans%}
			</p>
			<form class='footer-search'>
				<input type="text" placeholder='e-mail'>
				<input type="submit">
			</form>
		</div>
	</div>
	</footer>
	<div class="bottom-strip">
		<div class="container">
			<div class="col-md-4">
				<p class='pull-left'>
					 &copy; {% now "Y" %} Via Sofie, All Rights Reserved
				</p>
			</div>
			<div class="col-md-4 bottom-strip-middle">
				<a href="#top" class='fa fa-arrow-circle-up' id='backtop-btn'></a>
			</div>
			<div class="col-md-4">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div> <!--- entire-content-wrapper-->
</body>

</html>
