<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"	></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/cookielaw.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}realestate/css/footer.css">
{% load staticfiles %}
{% load cookielaw_tags %}

{% cookielaw_banner %}

<div class="row"> </div>
</div> <!-- close wrapper-->
	<div class="footer">
		<div class="col-md-4 text-left footer-left">Kappa1</div>
		<div class="col-md-4 text-center footer-middle">Kappa2</div>
		<div class="col-md-4 text-right footer-right"><a href="{% url 'realestate:disclaimer' %}">Disclaimer en privacybeleid</a></li></div>
	</div>
</body>

</html>
