{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load thumbnail %}

{% for property in properties %} 
    <a href="{% url 'realestate:detail' property.id %}"> <h1 class="entryheader">{{ property.title_text }}</h1> </a>
    <p>{{ property.description_text }} </p>
        {% for propertyimage in property.propertykey.all %}
             <img src="{% thumbnail propertyimage.picture  150x150 crop %}"/>
        {% endfor %}
        <hr>
{% endfor %}

{% include "realestate/footer.html" %}
