{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load thumbnail %}
<div class="col-md-3">
linkerkolom div
</div>
    <div class="col-md-6">
   <!--  <h2 class="page-header"> <span class="label label-success">Featured</span></h2>
{% for property in properties %}
    <a href="{% url 'realestate:detail' property.id %}"> <h3>{{ property.title_text }}</h3> </a>
    <p>{{ property.description_text }} </p>
    <p>{{ property.sellingprice }} </p>
        {% for propertyimage in property.propertykey.all %}
        <a href="{% url 'realestate:detail' property.id %}"><img src="{% thumbnail propertyimage.picture  150x150 crop %}"/></a>
        {% endfor %}
        <hr>
{% endfor %} -->
    <h2>Zoek</h2>
        <form method="get" action=".">
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type='text' name='q' placeholder='Zoek vragen' value='{{ request.GET.q }}'/>
                    </td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </table>
        </form>
    </div>
<div class = "col-md-3">rechterkolom div</div>

{% include "realestate/footer.html" %}
