{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}

<div class="page-title-section">
        <div class="container">
            <div class="pull-left page-title">
                <a href="{% url 'realestate:faq' %}">
                <h2>{%blocktrans %}SUBSCRIPTION_BUTTON{% endblocktrans%}</h2>
                </a>
            </div>
            <div class="pull-right breadcrumb">
                <a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:faq' %}">{%blocktrans %}SUBSCRIPTION_BUTTON{% endblocktrans%}</a>
            </div>
        </div>
    </div>
</div> <!--- end slider section-->
<link rel="stylesheet" type="text/css" href="{% static "realestate/css/subscription.css" %}"/>
  <div class="col-md-12 text-center" id="confirmation">
    {%blocktrans %}U bent succesvol ingeschreven op onze nieuwsbrief{% endblocktrans%}  
    <p>
      <a href="{% url 'realestate:index' %}">{%blocktrans %}Klik hier om terug te gaan naar de hoofdpagina{% endblocktrans%}</a>
    </p>
  </div>
 
{% include "realestate/footer.html" %}