{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}
  
<head>
  <link rel="stylesheet" type="text/css" href="{% static "realestate/css/partners.css" %}"/>
</head>
<body>
    <div class="page-title-section">
      <div class="container">
          <div class="pull-left page-title">
            <a href="{% url 'realestate:about' %}">
            <h2>{%blocktrans %}PARTNERS_BUTTON{% endblocktrans%}</h2>
            </a>
          </div>
          <div class="pull-right breadcrumb">
            <a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:about' %}">{%blocktrans %}PARTNERS_BUTTON{% endblocktrans%}</a>
          </div>
      </div>
    </div>
  </div> <!--- end slider section-->
  <div class="partner">
      <div class="container">
          <h4 class="box-title">{%blocktrans %}PARTNER_TITLE{% endblocktrans%}</h4>
          <div class="row listings-items-wrapper">
          {% for partner in img %}
              <div class="col-md-3 partner-listing listing-single-item">
                  <div class="item-inner">
                      <div class="image-wrapper" id="partners">
                          {% for partnerlogo in partner.partnerkey.all %}

                              <div class="desc-box">
                               <a href="{{partner.url}}">
                                  <li class='slides img-responsive' id='slide-n1'><img src="{% static partnerlogo.logo.url %}" alt="gallery">
                              </a>
                                  <h4 id="partners" class="text-center" > <i class="fa fa-arrow-right" aria-hidden="true"></i> {{partner.name}}</h4>
                                  <div class="clearfix">
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
              <!-- /Single-item -->
          {% endfor %}
          </div>
      </div>
  </div>
</body>

{% include "realestate/footer.html" %}
