{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/select_rent.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/advancedsearch.js"></script>
    <div class="page-title-section">
        <div class="container">
            <div class="pull-left page-title">
                <a href="{% url 'realestate:faq' %}">
                <h2>{%blocktrans %}RENT_BUTTON{% endblocktrans%}</h2>
                </a>
            </div>
            <div class="pull-right breadcrumb">
                <a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:faq' %}">{%blocktrans %}RENT_BUTTON{% endblocktrans%}</a>
            </div>
        </div>
    </div>
</div> <!--- end slider section-->
{% include "realestate/reference_search.html" %}
{% include "realestate/search_bar.html" %}
<div class="recent-listings">
        </div>
        {% if rent_properties %}
             <div class="row listings-items-wrapper">
             <div class="container">
                <div class="title-box">
                    <h3>{%blocktrans%}Panden te huur:{%endblocktrans%}</h3>
                    <div class="bordered">
                    </div>
                </div>
            {% for property in rent_properties %}
                <div class="col-md-4 listing-single-item">
                    <div class="item-inner">
                        <div class="image-wrapper">
                            {% for propertyimage in property.propertykey.all %}
                            {% if forloop.first %}
                                <li class='slides' id='slide-n1'><img src="{% static propertyimage.picture.url %}" alt="gallery">
                            {% endif %}
                            {% endfor %}
                            <a href="#" class='fa fa-home property-type-icon'></a>
                            <!-- <a href="#" class='featured'><i class='fa fa-star'></i>featured</a> -->
                        </div>
                        <div class="desc-box">
                            <h4><a href="#">{{property.title_text}}</a></h4>
                            <ul class="slide-item-features item-features">
                                <li><span class="fa fa-arrows-alt"></span>{{property.surface_area_text}}</li>
                                <li><span class="fa fa-male"></span>{{property.bathrooms_text}}</li>
                                <li><span class="fa fa-inbox"></span>{{property.bedrooms_text}}</li>
                            </ul>
                            <div class="buttons-wrapper">
                                <span id="sellingprice" class="yellow-btn">
                                {{property.sellingprice}} 
                                {% if property.listing_type == 'Huren' %}
                                {%blocktrans %}RENT_MONTH{% endblocktrans%}
                                {% endif %}
                                </span>
                                <a href="{% url 'realestate:detail' pk=property.id %}" class="gray-btn"><span class="fa fa-file-text-o"></span>{%blocktrans %}PROPERTY_DETAILS_BUTTON{% endblocktrans%}</a>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Single-item -->
                {% endfor %}
            </div>
            <div class="pagination">
                        <span class="step-links">
                            {% if rent_properties.has_previous %}
                                <a href="?{{ page_request_var }}={{ rent_properties.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" type="pagination" value="next" class="yellow-btn"><</a>
                            {% endif %}
                            <span class="current">
                                Pagina {{ rent_properties.number }} van {{ rent_properties.paginator.num_pages }}.
                            </span>
                            {% if rent_properties.has_next %}
                                <a href="?{{ page_request_var }}={{ rent_properties.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" type="pagination" value="next" class="yellow-btn">></a>
                            {% endif %}
                        </span>
                    </div>
            {%endif%}
        </div>
    </div>

{% include "realestate/footer.html" %}
<script type="text/javascript" src='{% static "realestate/js/select_rent.js" %}'></script>
