{% load i18n %}
<div class="search-section">
    <div class="container search-container">
        <form method='POST'>
        {% csrf_token %}
            <div class="select-wrapper select-smaill" id='select-rent'>
<!--                  {{ form.non_field_errors }}
                 {{ form.errors }} -->
                <p>
                     {%blocktrans %}INDEX_RENTORSALE{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">{%blocktrans %}INDEX_ANY{% endblocktrans%}</option>
                    <option value="potato-chips">{%blocktrans %}INDEX_RENT{% endblocktrans%}</option>
                    <option value="chips-and-salsa">{%blocktrans %}INDEX_SALE{% endblocktrans%}</option>
                </select> -->
                <!-- {{ form.listing_type_choices.errors }} -->
                {{form.listing_type_choices}}
            </div>
            <div class="select-wrapper select-medium" id='select-property'>
                <p>
                     {%blocktrans %}INDEX_PROPERTY{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                <!-- {{form.propertytype.errors}} -->
                {{form.propertytype}}
            </div>
<!--             <div class="select-wrapper select-big">
                <p>
                     Provincie
                </p>
                <select class='elselect'>
                    <option value="any">any</option>
                </select>
                {{form.province_choices.errors}}
                {{form.province_choices}}
            </div> -->
            <div class="select-wrapper select-big">
                <p>
                     {%blocktrans %}INDEX_CITY{% endblocktrans%}
                     <!--Gemeente-->
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                <!-- {{form.borough_choices.errors}} -->
                {{form.borough_choices}}
            </div>
            <div class="select-wrapper select-small">
                <p>
                     {%blocktrans %}INDEX_BEDS{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->

                {{form.bedrooms}}
                {{form.bedrooms.errors}}
            </div>
            <div class="select-wrapper select-small">
                <p>
                     {%blocktrans %}INDEX_BATHS{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.bathrooms}}
                {{form.bathrooms.errors}}
            </div>
            <div class="select-wrapper select-medium">
                <p>
                     {%blocktrans %}INDEX_SQFT{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.surfacearea}}
                {{form.surfacearea.errors}}
            </div>
            <div class="textinput-wrapper select-medium textinput-target">
                <p>
                     {%blocktrans %}INDEX_MINPRICE{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.minprice}}
                {{form.minprice.errors}}
            </div>
            <div class="textinput-wrapper select-medium textinput-target">
                <p>
                     {%blocktrans %}INDEX_MAXPRICE{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.maxprice}}
                {{form.maxprice.errors}}
            </div>
        </div>
            <div class="text-center">
            <input id="search-button" class="yellow-btn" type="submit" value="search">
            </div>
        </form>

</div>
