{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}


    <div class="page-title-section">
        <div class="container">
            <div class="pull-left page-title">
                <a href="{% url 'realestate:faq' %}">
                <h2>{%blocktrans %}SELL_BUTTON{% endblocktrans%}</h2>
                </a>
            </div>
            <div class="pull-right breadcrumb">
                <a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:faq' %}">{%blocktrans %}SELL_BUTTON{% endblocktrans%}</a>
            </div>
        </div>
    </div>
</div> <!--- end slider section-->
<div class="search-section">
    <div class="container">
        <form method='POST'>
            <div class="select-wrapper select-smaill" id='select-rent'>
                <p>
                     {%blocktrans %}INDEX_RENTORSALE{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">{%blocktrans %}INDEX_ANY{% endblocktrans%}</option>
                    <option value="potato-chips">{%blocktrans %}INDEX_RENT{% endblocktrans%}</option>
                    <option value="chips-and-salsa">{%blocktrans %}INDEX_SALE{% endblocktrans%}</option>
                </select> -->
                {{form.listing_type_choices}}
            </div>
            <div class="select-wrapper select-big" id='select-property'>
                <p>
                     {%blocktrans %}INDEX_PROPERTY{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.propertytype}}
            </div>
            <div class="select-wrapper select-big">
                <p>
                     Provincie
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.province_choices}}
            </div>
            <div class="select-wrapper select-big">
                <p>
                     Gemeente
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.borough_choices}}
            </div>            
            <div class="select-wrapper select-small">
                <p>
                     {%blocktrans %}INDEX_BEDS{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.bedrooms}}
            </div>
            <div class="select-wrapper select-small">
                <p>
                     {%blocktrans %}INDEX_BATHS{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.bathrooms}}
            </div>
            <div class="select-wrapper select-medium">
                <p>
                     {%blocktrans %}INDEX_SQFT{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.surfacearea}}
            </div>
            <div class="textinput-wrapper select-medium">
                <p>
                     {%blocktrans %}INDEX_MINPRICE{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.minprice}}
            </div>
            <div class="textinput-wrapper select-medium">
                <p>
                     {%blocktrans %}INDEX_MAXPRICE{% endblocktrans%}
                </p>
<!--                 <select class='elselect'>
                    <option value="any">any</option>
                </select> -->
                {{form.maxprice}}
            </div>
            <input type="submit" value="search" class='yellow-btn'>
        </form>
    </div>
</div>
<!-- <link rel="stylesheet" type="text/css" href="{% static "realestate/css/faq.css" %}"/> -->
<div class="content-section">
    <div class="">
        <div class='container' id="faqblock">
            <div class="contact-info">
                <div class="inner-wrapper">
                    <h4 class="box-title">Kopen</h4>
                    <form method ='POST'>
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="search" class="yellow-btn">
                    </form>
                    {%if result_list %}
                    <h1>Kappa </h1>
                    {%endif%}
                    {% for result in result_list%}
                    {{result}}
                    {% endfor %}
                    <h1>{{selected_province}} </h1>
                    <h1>{{var}} </h1>
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }} </span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    </p>
                    <div class="info-wrapper">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
        </div> <!-- contact-info-->

        </div>
    </div>

{% include "realestate/footer.html" %}
<script type="text/javascript" src="{% static "realestate/js/faq.js" %}"></script>
