{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load i18n %}


    <div class="page-title-section">
        <div class="container">
            <div class="pull-left page-title">
                <a href="{% url 'realestate:faq' %}">
                <h2>{%blocktrans %}FAQ_RIGHTBUTTON{% endblocktrans%}</h2>
                </a>
            </div>
            <div class="pull-right breadcrumb">
                <a href="{% url 'realestate:index' %}">home</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:faq' %}">{%blocktrans %}FAQ_RIGHTBUTTON{% endblocktrans%}</a>
            </div>
        </div>
    </div>
</div> <!--- end slider section-->

<!-- <link rel="stylesheet" type="text/css" href="{% static "realestate/css/faq.css" %}"/> -->
<div class="content-section">
    <div class="">
        <div class='container' id="faqblock">
<!--            <div class="title-box">
                <h3>Frequently Asked Questions</h3>
                <div class="bordered">
                </div>
            </div> -->
<!--            <div id="faqheadertext">
            <p>Wilt u een woning kopen/huren of verkopen/verhuren dan moet u rekening houden met een hele hoop zaken. Hieronder vindt u een aantal algemene begrippen en FAQ’s van belang bij de verkoop of verhuur. Hebt u vragen over onderstaande topics of staat uw vraag hier niet tussen, aarzel niet om me te contacteren, ik help u graag verder.</p>
            </div> -->
            <div class="contact-info">
                <div class="inner-wrapper">
                    <h4 class="box-title">Frequently Asked Questions</h4>
                    <p class="first-paragraph">
                        Wilt u een woning kopen/huren of verkopen/verhuren dan moet u rekening houden met een hele hoop zaken. Hieronder vindt u een aantal algemene begrippen en FAQ’s van belang bij de verkoop of verhuur. Hebt u vragen over onderstaande topics of staat uw vraag hier niet tussen, aarzel niet om me te contacteren, ik help u graag verder. Klik op een vraag om meer informatie te verkrijgen.
                    </p>
                    <p>
                    <form id="searchform" class="form-group form-inline" method='GET' action=''>{% csrf_token %}
                        <input type='text' class="form-control" name='q' placeholder='Zoek vragen' value='{{ request.GET.q }}'/>
                        <input type="submit" value="search" class="yellow-btn">
                    </form>
                    {{form.as_p}}
                    </p>
                    <div class="info-wrapper">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
        </div> <!-- contact-info-->

        </div>
    </div>

{% include "realestate/footer.html" %}
<script type="text/javascript" src="{% static "realestate/js/faq.js" %}"></script>
