{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "realestate/css/admincss.css" %}" />
<link rel="stylesheet" href="{% static "realestate/css/bootstrap.min.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "realestate/css/bootstrap-theme.min.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "realestate/css/font-awesome.min.css"%}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
<div id="content-main">

{% if app_list %}

    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table id="dashboardtable" class="table table-condensed ">
<!--         <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption> -->
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                {% if not "Groep" in model.name or "Group" in model.name %}
                {% if not "Sites" in model.name %}
                {% if not "Current" in model.name %}
                <th scope="row"><a href="{{ model.admin_url }}">
                {% if  "Gebruiker" in model.name or "User" in model.name  %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/user.png" %}' >
                {% endif %}
                {% if  "Deal" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/deal.png" %}' >
                {% endif %}
                {% if  "Status" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/status.png" %}' >
                {% endif %}
                {% if  "Eigendom" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/house.png" %}' >
                {% endif %}
                {% if  "Frequently" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/faq.png" %}' >
                {% endif %}
                {% if  "character" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/bath.png" %}' >
                {% endif %}
                {% if  "Partner" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/partner.png" %}' >
                {% endif %}
                {% if  "type" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" title="{{ model.name }}" src='{% static "realestate/img/propertytype.png" %}' >
                {% endif %}
               <!--  {{ model.name }} -->
                </a></th>

                <td><a href="{{ model.admin_url }}"><i class="fa fa-eye fa-4x" aria-hidden="true"></i></a></td>
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}



            {% if model.add_url %}
            {% if not "Groep" in model.name or "Group" in model.name %}
            {% if not "Sites" in model.name %}
            {% if not "Current" in model.name %}
                <!-- <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td> -->

                <td><a href="{{ model.add_url }}"><i class="fa fa-plus fa-4x" aria-hidden="true"></i></a></td>
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
            {% if not "Groep" in model.name or "Group" in model.name %}
            {% if not "Sites" in model.name %}
            {% if not "Current" in model.name %}
              <!--   <td><a href="{{ model.admin_url }}" class="changelink">VeranderKappa</a></td> -->

                <td><a href="{{ model.admin_url }}" ><i class="fa fa-pencil fa-4x" aria-hidden="true"></i></a></td>

            {% endif %}
            {% endif %}
            {% endif %}

            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
</div>
{% endblock %}

{% block sidebar %}
<div class="col-md-6">
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{%blocktrans %}RECENT_ACTIONS{% endblocktrans%}<!--Mijn recente acties--></h2>
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
                {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</div>
</div><!--- row -->

{% endblock %}
