{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "realestate/css/admincss.css" %}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table class="table table-condensed ">
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
            {% if not "Groep" in model.name %}
                <th scope="row"><a href="{{ model.admin_url }}">
                {% if  "Gebruiker" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" src='{% static "realestate/img/user.png" %}' >
                {% endif %}
                {% if  "Deal" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" src='{% static "realestate/img/deal.png" %}' >
                {% endif %}
                {% if  "Eigendom" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" src='{% static "realestate/img/house.png" %}' >
                {% endif %}
                {% if  "Frequently" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" src='{% static "realestate/img/faq.png" %}' >
                {% endif %}
                {% if  "character" in model.name %}
                <img class = "img-responsive" width="100px" height="100px" alt="{{ model.name }}" src='{% static "realestate/img/bath.png" %}' >
                {% endif %}
               <!--  {{ model.name }} -->
                </a></th>
                <td><a href="{{ model.admin_url }}"><img width="50px" height="50px" src="https://1.bp.blogspot.com/-9udZmPYl_5g/Vua_KS98TUI/AAAAAAAAG58/u3r-Vb54x-c7IGUTrwRIOaxICp3t7u9Jg/s320/list.png"></a></td>
            {% endif %}
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}



            {% if model.add_url %}
            {% if not "Groep" in model.name %}
                <!-- <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td> -->
                <td><a href="{{ model.add_url }}"><img width="50px" height="50px" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-alphanumeric/069596-blue-jelly-icon-alphanumeric-plus-sign-simple.png"></a></td>
            {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
            {% if not "Groep" in model.name %}
              <!--   <td><a href="{{ model.admin_url }}" class="changelink">VeranderKappa</a></td> -->
                <td><a href="{{ model.admin_url }}" ><img width="50px" height="50px" src="http://findicons.com/files/icons/2443/bunch_of_cool_bluish_icons/512/edit.png"></a></td>
            {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
