#container{
    background-color: #0d3532;
    float: left;
    width: 100%;
}

#logo{
    width: 121.5px;
    height: 178.125px;
}

/*#left-part{
    position: absolute;
    vertical-align: text-bottom;
    bottom: -150px;
    margin: 150px;
    background-color: white;
    border-radius:10px 10px 0px 0px;
    text-align: center;
}

#left-part li{
    display: inline;
    list-style: none;
}

#left-part a{
    display:inline-block;
    margin:0 30px;

}*/

#right-part{
    position: absolute;
    vertical-align: text-bottom;
    bottom: 0px;
    right: 150px;
    background-color: #bad5ce;
}






/*
#left-part{
     position:absolute;
     height:3em;
     bottom: -150px;
     margin: 150px;
     border-radius:10px 10px 0px 0px;
     vertical-align: text-bottom;
     white-space:nowrap;
}
#left-part li{
     display:inline;
     text-align:center;
}
#left-part li:nth-child(1) a{width:7em;}
#left-part li:nth-child(2) a{width:7em;}
#left-part li:nth-child(3) a{width:7em;}
#left-part li:nth-child(4) a{width:7em;}

#left-part li a{
     display:inline-block;
     box-sizing:border-box;
     padding:.0em .2em;
     color: white;
     text-decoration:none;

     background-color:transparent;
     transition:background-color .3s ease;
}
#left-part li a:hover,ul li a:focus{
     color:#FF8C00;
     background-color:#4682B4;rgba(255,255,255,.4)
     transition:background-color .3s ease .4s;
}


#left-part li a:focus{border-bottom:3px solid black;#c351fa}


#left-part li:last-child::after{
     content:"";
     position:relative;
     left:-294px;
     bottom:-3px;
     display:block;
     width:2em;
     height:3px;
     background:#ccc;
     border-bottom:1px solid white;rgba(255,255,255,.8)
     transition: all .5s ease;
}
#left-part li:hover ~ li:last-child::after,
#left-part li:last-child:hover::after{background:#4682B4;} #C351FA

#left-part li:nth-child(1):hover ~ li:last-child::after{left:-21;width:7em;}
#left-part li:nth-child(2):hover ~ li:last-child::after{left:-14em;width:7em;}
#left-part li:nth-child(3):hover ~ li:last-child::after{left:-7em;width:7em;}
#left-part li:last-child:hover::after{left:0em;width:7em;}*/




/* puta */
#left-part{
    position: absolute;
    vertical-align: text-bottom;
    bottom: -150px;
    margin: 150px;
    padding-bottom: 10px;
    /*background-color: #e8e8e8;*/
}

#left-part li{
     display:inline;
     text-align:center;
     font-family: "Ropa Sans";
     font-size: 20px;
     color: blue;
}

#left-part li:nth-child(1) a{width:10em;}
#left-part li:nth-child(2) a{width:10em;}
#left-part li:nth-child(3) a{width:10em;}
#left-part li:nth-child(4) a{width:10em;}


#faq:hover ~ hr {margin-left: 25%;}

#contact:hover ~ hr {margin-left: 50%;}

#about:hover ~ hr {margin-left: 75%;}

#teub {
    height: .20rem;
    width: 24.2%;
    padding:.0em .2em;
    margin: 0;
    background-color: white;
    transition: .3s ease-in-out;
}

/*
#right-part{
    position: absolute;
    vertical-align: text-bottom;
    bottom: 0px;
    right: 150px;
    background-color: #e8e8e8;
}
*/


