#deals h2{
  color: #0d3532;
}

#userpanel h2{
  color: #0d3532;
}

#status h2{
  color: #0d3532;
}

body{
    background-image: url("/static/realestate/img/diningkitchen.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}