#CookielawBanner {
  position: fixed;
  top: 0;
  width: 100%;
  height: inherit;
  background-color: #0d3532;
  z-index: 999999;
}
#CookielawBanner h6{
  margin-top: 20px;
  color: white;
}
#CookielawBanner p{
  margin-bottom: 20px
}
#CookielawBanner a{
  margin-left: 20px
  color:#000;
  text-decoration:none;
  transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -webkit-transition:all 300ms ease-in-out;
}

#CookielawBanner a:hover{
  color:#fafafa;
  text-decoration:none;
  transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -webkit-transition:all 300ms ease-in-out;
}

#cookieButton{
  margin-bottom:50px;
  margin-left: 50px;
  padding-left: 50px;
}
#footerfix{
  margin: 0 auto;
  width: 100%;
}
