{% load staticfiles %}
{% load cookielaw_tags %}

<link rel="stylesheet" type="text/css" href="{% static "realestate/css/404.css" %}"/>

<div class = "errorpage" id="error">
    <header id="error-header">
        <img src="{% static "realestate/img/logo.png" %}" id="logo">
    </header>
    <div class="errortext" id="errortext">
    <h1>{%blocktrans %}404_TITLE{% endblocktrans%}<!--Pagina niet gevonden--></h1>
      <p>{%blocktrans %}404_TEXT{% endblocktrans%}</p>
      <!--<p>Oeps! Het lijkt erop dat de pagina die u zoekt verplaatst is of niet bestaat.</p>
      <p>Zorg ervoor dat u de juiste URL ingeeft of een geldige link volgt.-->

	  <p><input class="myButton" name="lien1" value="{%blocktrans %}GO_BACK{% endblocktrans%}" onclick="self.location.href='{% url 'realestate:index' %}'"onclick></p>
    </div>
</div>


