{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% block content %}
    <div class="page-title-section">
      <div class="container">
        <div class="pull-left page-title">
          <a href="{% url 'realestate:logout' %}">
          <h2>Log out</h2>
          </a>
        </div>
        <div class="pull-right breadcrumb">
          <a href="{% url 'realestate:index' %}">home</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:logout' %}">Log out</a>
        </div>
      </div>
    </div>
</div> <!--- end slider section-->

<div class="content-section">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 contact-info">
            <div class="inner-wrapper">
                <h4 class="box-title">Uitloggen</h4>
                <p class='first-paragraph'>
                    U bent succesvol uitgelogd.
                </p>
                <div class="info-wrapper" id="log-back-in">
                    <span><a href="{% url 'realestate:login' %}">Klik hier om terug in te loggen.</a></span>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include "realestate/footer.html" %}
