{% load staticfiles %}
{% load cookielaw_tags %}
{% include "realestate/header.html" %}
{% load thumbnail %}
{% load i18n %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "realestate/css/userpanel.css" %}"/>

    <div class="page-title-section">
        <div class="container">
            <div class="pull-left page-title">
                <a href="{% url 'realestate:controlpanel' %}">
                <!-- TODO: Translations -->
                <h2>{%blocktrans%}USERPANEL_BUTTON{%endblocktrans%}</h2>
                </a>
            </div>
            <div class="pull-right breadcrumb">
                <a href="{% url 'realestate:index' %}">{%blocktrans %}HOME_BUTTON{% endblocktrans%}</a><span class="fa fa-arrow-circle-right sep"></span><a href="{% url 'realestate:controlpanel' %}">{%blocktrans %}USERPANEL_BUTTON{% endblocktrans%}</a>
            </div>
        </div>
    </div>
</div> <!--- end slider section-->

    <div class="row">
    </div>
    <div id="userpanelcontainer">
    <div class="col-md-3">
        <div class="deals" id="deals">
        <div id="welcomeaccount"><h2> Welkom {{user.first_name}} {{user.last_name}} </h2> </div>
        <div class="account_information" id="account">
            <a id="accountinformation" href="{% url 'realestate:accountinformation' %}">Klik hier om uw account informatie aan te passen.</a>
        </div>
            <h2 class="page-header"> <span class="glyphicons glyphicons-user"> {%blocktrans %}SELECT_DEAL_TITLE{% endblocktrans%}</span></h2>
            <br>
            <form id= "dealselecter" class= "form-group" method="POST">
                {% csrf_token %}
                <select class="form-control" name="selected_deal_id" id="id_deals">
                    <option selected="selected" value="default">-</option>
                    {% for deal in deals %}
                    <option value="{{deal.id}}" name="{{deal.id}}">{{deal.property.title_text}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="col-md-6 contact-info" id="userpanel">
    <div class="inner-wrapper">
        <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }} </span>
            {% endfor %}
        </div>
        {% endif %}
      </div>
       <h2 class="page-header" id="stavaza-header"> <span class="glyphicons glyphicons-user">{%blocktrans %}STATUS_TITLE{% endblocktrans%} <!--Status--> </span></h2>
    <table class="table">
        <thead>
            <tr>
                <th>{%blocktrans %}DOCUMENT{% endblocktrans%}</th>
                <th>{%blocktrans %}STATUS{% endblocktrans%}</th>
                <th>{%blocktrans %}EXTRA_COMMENTS{% endblocktrans%}</th>
            </tr>
        </thead>
        <tbody>
            {% for dealStatus in selected_deal_statuses %}
            <tr>
                {%if dealStatus.current_status.id == 1 %}
                <td> <i class="fa fa-calendar" aria-hidden="true" title="Gepland"></i> <span title="{{dealStatus.status.description}}">{{dealStatus.status.title}}</span></td>
                {%elif dealStatus.current_status == 2 %}
                <td><i class="fa fa-clock-o" aria-hidden="true" title="In behandeling"></i> {<span title="{{dealStatus.status.description}}">{{dealStatus.status.title}}</span></td>
                {%else%}
                <td><i class="fa fa-check" aria-hidden="true" title="In orde"></i> <span title="{{dealStatus.status.description}}">{{dealStatus.status.title}}</span></td>
                {%endif%}
                <td>{{dealStatus.current_status}}</td>
                <td>{{dealStatus.comment}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    </div>
<div class = "col-md-3" id="status">
    <h2 class="page-header"> <span class="glyphicons glyphicons-user">{%blocktrans %}VISITATIONS_TITLE{% endblocktrans%} <!--Bezichtigingen--> </span></h2>
        <table class="table">
              <thead>
                <tr>
                  <th>{%blocktrans %}DATE{% endblocktrans%}<!--Datum--></th>
                  <th>{%blocktrans %}STATUS{% endblocktrans%}<!--Status--></th>
                </tr>
            </thead>
            <tbody>
                {% for visitation in selected_deal_visitations %}
                <tr>
                    <td>{{visitation.date}}</td>
                    <td>{{visitation.status}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
     <h2 class="page-header"> <span class="glyphicons glyphicons-user">{%blocktrans %}DEAL_DETAILS{% endblocktrans%} <!--Details van deal--></span></h2>
            {% for deal in selected_deal %}
            <h3>{{deal.property}}</h3>

            {% endfor %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>Documenten <div class="help-tip"><p>Druk op een document om het te downloaden.</p></div></th>
                      <th>{%blocktrans %}DOCUMENT{% endblocktrans%}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for documents in selected_deal_documents %}
                    <tr>
                      <td><a href="{{MEDIA_URL}}{{documents.document}}"><i class="fa fa-file-o" aria-hidden="true"></i> {{documents.title}}</a></td>
                    </tr>
                 {% endfor %}
                  </tbody>
                </table>
</div>
</div>

{% include "realestate/footer.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}realestate/js/userpanel.js"></script>
